@import "keyboard";

body {
  font-size: 16px;
}

header {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
}


h3 {
    margin: 0 auto;
    text-align: center;
}

.display-random-word {
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  min-height: 50px;
  width: 50%;
}

.new-letter {
  border-bottom: 3px solid black;
  margin: 2px 2px;
  padding: 5px;
  min-height: 10px;
  width: 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
